input::placeholder{
    color: black;
    font-weight: bold;
}
.mobile {
    display: none;
}

.navigations a {
    border-bottom: 4px solid #919191;
    padding: 4px;
}

.navigations a:hover {
    border-bottom: 4px solid black
}


@media screen and (max-width:760px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none
    }
}